*.DS_store
**.DS_store/**
__pycache__/.*
__pycache__/*
*/__pycache__/*
**/__pycache__/**
**/ipynb_checkpoints/**
**/-vscode/**

# Ignore data files 

data/data_files/fang-covid-main/*
*.json
*.csv
*.ttl
*.bz2

# Ignore Logs
logs
*.log

# Ignore the build directory
/dist

# Ignore wandb
/wandb
weight_n_b/*
weight_n_b/.**
/weight_n_b/.*
weight_n_b
*/wandb/**
**/wand/**




