*.DS_store
**.DS_store/**
data/data_files/**
data/wandb/**
data/wandb/*

../againlonelypy

# Ignore Logs
logs
*.log

# Ignore the build directory
/dist

# Ignore wandb
/wandb
weight_n_b/*
weight_n_b/.**
__pycache__/.*
__pycache__/*
*/__pycache__/*
 /weight_n_b/.*
weight_n_b

*/wandb/**
**/wand/**

# Ignore old files
old_files/
old_files


**/ipynb_checkpoints/**
**/__pycache__/**
**/-vscode/**

